.person {
  margin-top: 140px;
  margin-bottom: 140px;
  position: relative;

  h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  p {
    font-size: 20px !important;
  }

  .person--img {
    position: relative;
    width: 100%;
    height: 523px;
    @include object-fit(cover);
    margin: 0;
    z-index: 3;
    margin-bottom: 30px;
    @include md {
      margin-bottom: 0;
    }
  }

  &.person--0 {
    background-color: #efefef;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;

    //position:relative;
    &:before {
      position: absolute;
      content: " ";
      top: 0;
      left: -20px;
      width: 100vw;
      height: 100%;
      background-color: #efefef;
    }

    @include md {
      padding: 0;

      &:before {
        content: none;
      }
      background-color: unset;
    }
  }

  &.person--3 {
    background-color: #efefef;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;

    //position:relative;
    &:before {
      position: absolute;
      content: " ";
      top: 0;
      left: -20px;
      width: 100vw;
      height: 100%;
      background-color: #efefef;
    }

    @include md {
      padding: 0;
      background-color: unset;
      &:before {
        left: 4%;
        width: 92%;
        height: 100%;
        top: 63px;
      }
    }
  }

  .person--col {
    @include md {
      position: relative;
      > div {
        margin-top: 93px;
        position: relative;
      }
    }
  }

  .person--col-0 {
    @include md {
      background-color: unset;
      position: relative;
      > div {
        margin-top: 43px;
        z-index: 2;
        position: relative;
        padding-right: 30px;
      }

      &:after {
        content: "";
        width: 728px;
        height: 100%;
        background-color: #efefef;
        position: absolute;
        top: -63px;
        left: -61px;
        z-index: 1;
      }
    }
  }

  .person--col-3 {
    @include md {
      background-color: unset;
      position: relative;
      > div {
        margin-top: 133px;
        z-index: 2;
        position: relative;
        padding-right: 30px;
      }
    }
  }
}
