// We use http://chir.ag/projects/name-that-color/

// IMPC Colours
$blaze-orange: #ed7b25; // - main orange
$primary: darken($blaze-orange, 10%);
$mercury: #efefef;
$bondi-blue: #00b0b0;
$limeade: #97cd2a; //- blog
$emperor: #4f4f4f;
$guardsman-red: #c30000;
$pompadour: #750065;
$dodger-blue: #2962FF;
$dove-gray: #666666;
$silver-chalice: #a3a3a3;
$old-lace: #fdf0e5;
$natural-gray: #978f89;
$iceberg: #e1f6f6;
$prim: #eee1ec;
$gallery: #ececec;
$gray: #8e8e8e;


// Previous template colours


$cod-gray: #171717;
$manatee: #95969a;
$white: #ffffff;
$tango: #f47e24;
$jaffa: #f58b39;
$abbey: #4d5056;
$jumbo: #7f8085;
$mine-shaft: #2d2d2d;
$mercury: #e8e8e8;
$abbey-light: #56585f;
$silver: #c9c9c9;
$alizarin-crimson: #ea2f2c;
$wild-sand: #f7f7f7;
$neptune: #77b5b3;
$meteorite: #462170;
$rolling-stone: #6e757a;
$alabaster: #f8f8f8;
$violet-eggplant: #9f147b;
$black: #000000;
$gray-chateau: #a5acaf;
$pale-sky: #6d757d;

$bg-home: #f8f8f8;
$bg-landing: #ffffff;
$bg-about: #faf3f8;
$bg-search: #faf3f8;
$bg-downloads: #faf3f8;
$bg-spotify: #e8e9e9;
$bg-potw: #f8f8f8;


